.todo-card {
	padding: 10px;
    margin-bottom: 7px;
    border-radius:10px;
}

.todo-card:hover {
    cursor: pointer;
}

.subtask {
	background-color: #d9edf7;
}

.task {
	background-color: #dff0d8;
}

.completed {
    background-color: #e7e7e7;
}

.meeting {
    background-color: #fcf8e3;
}

.project-name {
    font-size: 12px;
    color: #555;
}

.due_date {
    float: right;
}

.detail-button, .link-button {
    float: right;
    font-size: 12px;
}

.detail-button:hover, .link-button:hover {
    cursor: pointer;
    text-decoration: none;
}

.collapse-button {
    float: right;
    font-size: 12px;
}

.collapse-button:hover {
    cursor: pointer;
}

.notes-field {
    padding-top: 10px;
}

.notes-title {
    font-size: 12px;
    color: #777;
}

.notes-text {
    font-size: 13px;
    margin: 0px;
}

.type-title {
    font-weight: bold;
}

.subtask_table {
    margin-left: 20px;
}

.subtask-checkbox {
    position: relative;
    top: -2px;
    margin-right: 5px !important;
}


