.task-name{
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
}

.duedate{
	font-style: italic;
}

.notes-text{
	font-family: "Arial", sans-serif;
	text-indent: 20px;
	font-size: 14px;
}

.notes-title{
	text-transform: uppercase;
}

.project_title{
	text-transform: uppercase;
}

.duedate_title{
	text-align: center;
	font-weight: bold;
}

.duedate_text{
	font-style: italic;
}

.description_title{
	text-align: center;
	font-weight: bold;
}

.members_title{
	text-align: center;
	font-weight: bold;
}