/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.right_button {
     float: right;
     vertical-align: bottom;
     margin-left: 10px;
}

.page-header {
     margin-bottom: 30px;
}

.header_edit {
     float: right;
     font-size: 14px;
     margin-left:15px;
}

.no_margin {
     margin: 0px;
}

.empty_info {
     text-align: center;
}

.form-control[readonly] {
     cursor: text;
     background-color: white;
}

body {
     padding-top: 40px;
}
