.project {
	margin-bottom: -29px;
	box-shadow: 0 0 25px #AAAA9C;
	border-radius: 21px;
}

.no_underline {
	text-decoration: none;	
}

.no_underline:hover {
	text-decoration: none;	
}

.due_date {
	font-size: 20px;
}

.description {
	height: 0px;
	display: none;
	margin-left: 10px;
	margin-right: 10px;
}