.projects {
}

.project {
	margin-bottom: -10px !important;
	box-shadow: 0 0 10px #AAAA9C !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	min-height: 100px;
	text-decoration: none;
}

.project:hover {
	text-decoration: none;	
	cursor: pointer;
}

.project_title {
	margin-top: 15px;
	margin-bottom: 10px;
}

.duedate_title {
	display: inline-block;
	float: left;
	width: 20%;
}

.duedate_text {
}

.more_info {
	display: none;
	text-align: left;
	margin-bottom: 20px;
}

.description {
	min-height: 30px;
	overflow-y: auto;
	margin-top: 10px;
}

.description_title {
	display: inline-block;
	float: left;
	width: 20%;
}

.description_text {
	display: inline-block;
	float: left;
	width: 70%;
}

.members {
	min-height: 30px;
	overflow-y: auto;
	margin-top: 10px;
}

.members_title {
	display: inline-block;
	float: left;
	width: 20%;
}

.members_text {
	display: inline-block;
	float: left;
	width: 70%;
}
