.projects {
}

.project {
	border-bottom: solid 1px black;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}

.project_title {
	font-size: 20px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.project_title_clickable {
	font-size: 20px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: blue;
}

.project_title:hover, .project_title_clickable:hover {
	color: blue;
	cursor: pointer;
}

.duedate_title {
	display: inline-block;
	float: left;
	width: 20%;
}

.more_info {
	display: none;
	text-align: left;
}

.description {
	overflow-y: auto;
	margin-top: 10px;
}

.description_title {
	display: inline-block;
	float: left;
	width: 20%;
}

.description_text {
	display: inline-block;
	float: left;
	width: 70%;
}

.members {
	overflow-y: auto;
	margin-top: 10px;
}

.members_title {
	display: inline-block;
	float: left;
	width: 20%;
}

.members_text {
	display: inline-block;
	float: left;
	width: 70%;
}

.subtask_duration {
	padding-left: 15px;
	font-style: italic;
	font-weight: 700;
}

.progress_line {
	
}

#project-description {
	padding: 5px;
}
